# serviceName is a service name of the service
serviceName:
# containerRegistry is a repository that used to store container images
containerRegistry:
# imageVersion is a service image tag
imageVersion:
# revisionHistoryLimit is to specify how many old ReplicaSets for this Deployment you want to retain
revisionHistoryLimit: 10

deployment:
  podLabels:
  annotations:
  terminationGracePeriodSeconds: 60
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
  containers:
    portName:
    containerPort:
    liveness:
      path: /ping
      initialDelaySeconds: 1
      periodSeconds: 5
      successThreshold: 1
      failureThreshold: 3
    readiness:
      path: /ping
      initialDelaySeconds: 1
      periodSeconds: 5
      successThreshold: 1
      failureThreshold: 3
    env:
      enabled: false
      configmap:
        enabled: false
      secret:
        enabled: false
    resources:
      requests:
        cpu: "250m"
        memory: "500Mi"
      limits:
        cpu: "250m"
        memory: "500Mi"
  #hostAliases provides Pod-level override of hostname resolution when DNS and other options are not applicable. This is optional, the value default to false
  hostAliases:
    enabled: false
    hosts:

hpa:
  maxReplicas: 5
  minReplicas: 1
  metrics:

service:
  type: ClusterIP
  port:
  targetPort:

configmap:
  data: {}

secret:
  data: {}
